:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._pt-10px{padding-top:10px;}
:root ._h-8037{height:80%;}
:root ._gap-20px{gap:20px;}
:root ._jc-flex-start{justify-content:flex-start;}
:root ._ai-flex-start{align-items:flex-start;}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-15px{margin-top:15px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-675002279{color:var(--color);}
:root ._fos-229441251{font-size:var(--f-si-5);}
:root ._fd-row{flex-direction:row;}
:root ._ai-center{align-items:center;}
:root ._gap-1316330145{gap:var(--space-11);}
:root ._mt-0px{margin-top:0px;}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}
:root ._jc-441309761{justify-content:space-between;}
:root ._btw-2px{border-top-width:2px;}
:root ._brw-2px{border-right-width:2px;}
:root ._bbw-2px{border-bottom-width:2px;}
:root ._blw-2px{border-left-width:2px;}
:root ._btlr-12px{border-top-left-radius:12px;}
:root ._btrr-12px{border-top-right-radius:12px;}
:root ._bbrr-12px{border-bottom-right-radius:12px;}
:root ._bblr-12px{border-bottom-left-radius:12px;}
:root ._pt-5px{padding-top:5px;}
:root ._pr-5px{padding-right:5px;}
:root ._pb-5px{padding-bottom:5px;}
:root ._pl-10px{padding-left:10px;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._w-285px{width:285px;}
:root ._fos-10px{font-size:10px;}