:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-15px{margin-top:15px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._col-675002279{color:var(--color);}
:root ._fos-229441313{font-size:var(--f-si-7);}
:root ._fos-229441220{font-size:var(--f-si-4);}
:root ._mt-1316330238{margin-top:var(--space-14);}
:root ._fos-229441251{font-size:var(--f-si-5);}
:root ._fd-row{flex-direction:row;}
:root ._ai-center{align-items:center;}
:root ._gap-1316330145{gap:var(--space-11);}
:root ._mt-0px{margin-top:0px;}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}
:root ._jc-441309761{justify-content:space-between;}
:root ._borderBlockColor-white{border-block-color:white;}
:root ._btw-2px{border-top-width:2px;}
:root ._brw-2px{border-right-width:2px;}
:root ._bbw-2px{border-bottom-width:2px;}
:root ._blw-2px{border-left-width:2px;}
:root ._btlr-12px{border-top-left-radius:12px;}
:root ._btrr-12px{border-top-right-radius:12px;}
:root ._bbrr-12px{border-bottom-right-radius:12px;}
:root ._bblr-12px{border-bottom-left-radius:12px;}
:root ._pt-5px{padding-top:5px;}
:root ._pr-5px{padding-right:5px;}
:root ._pb-5px{padding-bottom:5px;}
:root ._pl-10px{padding-left:10px;}
:root ._btc-white{border-top-color:white;}
:root ._brc-white{border-right-color:white;}
:root ._bbc-white{border-bottom-color:white;}
:root ._blc-white{border-left-color:white;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._w-285px{width:285px;}
:root ._fos-10px{font-size:10px;}
<<<<<<< HEAD
:root ._col-white{color:white;}
=======
:root ._btw-0d0t5px46{border-top-width:0.5px;}
:root ._brw-0d0t5px46{border-right-width:0.5px;}
:root ._bbw-0d0t5px46{border-bottom-width:0.5px;}
:root ._blw-0d0t5px46{border-left-width:0.5px;}
:root ._pt-12px{padding-top:12px;}
:root ._pr-12px{padding-right:12px;}
:root ._pb-12px{padding-bottom:12px;}
:root ._pl-12px{padding-left:12px;}
:root ._btlr-10px{border-top-left-radius:10px;}
:root ._btrr-10px{border-top-right-radius:10px;}
:root ._bbrr-10px{border-bottom-right-radius:10px;}
:root ._bblr-10px{border-bottom-left-radius:10px;}
:root ._col-white{color:white;}
:root ._tt-230632984{text-transform:var(--f-tr-8);}
:root ._fow-233016264{font-weight:var(--f-we-8);}
:root ._ls-167744183{letter-spacing:var(--f-21-8);}
:root ._fos-229441344{font-size:var(--f-si-8);}
:root ._lh-222976697{line-height:var(--f-li-8);}
:root ._whiteSpace-normal{white-space:normal;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._ta-center{text-align:center;}
:root ._tt-230632922{text-transform:var(--f-tr-6);}
:root ._fow-233016140{font-weight:var(--f-we-4);}
:root ._ls-167744121{letter-spacing:var(--f-21-6);}
:root ._fos-229441282{font-size:var(--f-si-6);}
:root ._lh-222976635{line-height:var(--f-li-6);}
>>>>>>> 0bf604365bc38cf67ba9f4707b503af78deda7ec
